@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(244, 242, 240, .5);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box h2, h4 {
  font-family: 'Anton', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}

.navbar {
  font-family: 'Anton', sans-serif;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: rgba(255, 255, 255, 0.5);
}

.navbar-collapse a.nav-link {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.navbar-light a.navbar-brand {
  font-family: 'Anton', sans-serif;
  font-weight: 200;
}


.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-raidus: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: rgba(249, 249, 249, .6);
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


blockquote p {
  display: inline;
}


.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > .carousel-item-prev > a > img {
  max-height: 375px;
  width: 100%;
}

.carousel-caption h3 {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 40px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.5) 3px 3px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}

img.avatar {
  width: 125px;
}

.place-headers h1 {
  font-family: 'Anton', sans-serif;
}

.place-headers {
  font-family: "Helvetica Neue", Helvetica;
}

.map {
  width: 100%;
  padding: 40px;
}

.modal-title {
  font-family: 'Anton', sans-serif;
}

.model-body {
  font-family: "Helvetica Neue", Helvetica;
}

.simple-form-text {
  font-family: "Helvetica Neue", Helvetica;
}

