@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

@import "bootstrap";
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

@import "font-awesome";

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: image_url('crossword.png');
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.navbar {
  background: image_url('cartographer.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #84BDEE;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-raidus: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}