// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  word-spacing: 20px;
}

