<div class="booyah-box col-10 offset-1">
  <div class="row">
  <div class="col-10">
    <h2>Comments</h2>
  </div>
</div>

<div class="clear"></div>

  <% @place.comments.each do |comment| %>
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>
        <small class="float-right"><%= comment.user.email %></small>
      </blockquote>
  <% end %>
