<div class="booyah-box col-10 offset-1">
  <div class="row">
  <div class="col-10">
    <h2>Comments</h2>
  </div>
</div>

<div class="clear"></div>

<div class="row">
  <% @place.comments.each do |comment| %>
    <div class="col-12 col-sm">
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
</div>

